@using OnlineShop.Models.Enums
@model Order?
@{
    ViewData["Title"] = "Basket Detail Page";
}

@if (Model == null || Model!= null && Model.BasketPositions.Count == 0)
{
    <h3>Корзина пуста</h3>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th class="col">#</th>
            <th class="col-6">Название сервиса</th>
            <th class="col-2">Количество подписок</th>
            <th class="col-3">Стоимость</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var service in Model.BasketPositions)
        {
            <tr>
                <th class="col"></th>
                <th class="col">@service.Service.Name</th>
                <th class="col">@service.Count</th>
                <th class="col">@($"{service.Cost:0.##}")</th>
                <th>
                    <a class="btn btn-light"
                       asp-action="AddItem"
                       asp-route-serviceId="@service.Service.Id"
                       asp-route-actionType="@ActionType.ADD">
                        +
                    </a>
                </th>
                    
                <th>
                    <a class="btn btn-light"
                       asp-action="AddItem"
                       asp-route-serviceId="@service.Service.Id"
                       asp-route-actionType="@ActionType.MINUS">
                        -
                    </a>
                </th>
            </tr>
        }
        <tr>
            <th class="col">Итого:</th>
            <th class="col"></th>
            <th class="col"></th>
            <th class="col">@($"{Model.BasketPositions.Sum(service => service.Cost):0.##}")</th>
            <th></th>
            <th></th>
        </tr>
        </tbody>
    </table>
    
    <button type="button" class="btn btn-primary p-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Оформить заказ
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Подтверждение заказа:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-6">Название сервиса</th>
                            <th class="col-4">Количество подписок</th>
                            <th class="col-2">Стоимость</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var service in Model.BasketPositions)
                        {
                        <tr>
                            <th class="col">@service.Service.Name</th>
                            <th class="col">@service.Count</th>
                            <th class="col">@($"{service.Cost:0.##}")</th>
                        </tr>
                        }
                        <tr>
                            <th class="col">Итого:</th>
                            <th class="col"></th>
                            <th class="col">@($"{Model.BasketPositions.Sum(service => service.Cost):0.##}")</th>
                        </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
}
